/* ▼▼▼ モバイル縦表示専用 ▼▼▼ */
@media screen and (max-width: 768px) and (orientation: portrait) {
  :root {
    --fontSize: 1.2em;
  }

  .char-slot {
    display: none !important;
  }

  .char-slot.active {
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    width: 96%;
    left: 2%;
    bottom: -3%;
    z-index: 2;
  }

  .char-image {
    width: 100%;
    max-height: 92vh;
    object-fit: contain;
  }

  #char-left,
  #char-center,
  #char-right {
    left: 0;
    width: 100%;
  }
}
/* ▲▲▲ モバイル縦表示専用 ▲▲▲ */

/* ▼▼▼ モバイル横表示 ▼▼▼ */
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .char-slot {
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
  }

  #char-left {
    left: 0%;
    width: 33.33%;
  }

  #char-center {
    left: 33.33%;
    width: 33.33%;
    z-index: 2;
  }

  #char-right {
    left: 66.66%;
    width: 33.33%;
  }


  .char-image {
    width: 100%;
    max-height: 90vh;
    object-fit: contain;
  }
}
/* ▲▲▲ モバイル横表示 ▲▲▲ */

/* ▼▼▼ PC 表示 ▼▼▼ */
@media screen and (min-width: 1025px) {
  .char-slot {
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
  }

  #char-left {
    left: 5%;
    width: 30%;
  }

  #char-center {
    left: 35%;
    width: 30%;
    z-index: 2;
  }

  #char-right {
    left: 65%;
    width: 30%;
  }

  .char-image {
    width: 100%;
    max-height: 90vh;
    object-fit: contain;
  }
}
/* ▲▲▲ PC 表示 ▲▲▲ */